

<div class="container">
     <p><%= notice %></p>
  <div clas="row">

<h1>welcome to <span class='glyphicon glyphicon-book'><strong>Bookers</strong>  !!</h1>
	<p>In <span class='glyphicon glyphicon-book'></span><strong>Bookers</strong>, <br>
       you can share and exchange  your opinions , inpressions , and emotions<br>
       about various books!</p>
    <div class="btn-wrapper">
      <div class="row">
         
       </div>
      <div class="row">
        <p><a class="btn btn-success sign_up col-lg-6 col-lg-offset-3" href="/users/sign_up">Sign Up</a></p>
      </div>
    </div>

    

    <p><a class="btn btn-info >col-lg-6 col-lg-offset-3 sign_in" href="/users/sign_in">Log in</a></p>
      </div>
  </div>
</div>
    </div>